body {
    margin: 0;
    padding: 0;
    background-image: url('../Images/Pic1.jpg'); 
    background-size: cover;
    font-family: sans-serif;
}
.title
{
	text-align: center;
	padding: 50px 0 20px;
}
.title h1
{
	margin: 0;
	padding: 50px;
	color: #262626;
	text-transform: uppercase;
	font-size: 36px;
}
.container {
    width: 1000px;
    height: 700px;
    margin: auto;
    box-shadow: 0 15px 40px rgba(0,0,0,.5);
}
.formBox 
{
	width: 100%;
	padding: 40px 20px;
	box-sizing: border-box;
	height: 830px;
	background: #fff;
}
.formBox label  
{
	margin: 0;
	padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
	font-weight: normal;
	color: #1b73a0;
    height: 10px;
}
.formBox input
{
	width: 100%;
	margin-bottom : 30px;
}
.formBox input[type="text"],
.formBox input[type="text"],
.formBox input[type="text"],
.formBox input[type="number"],
.formBox input[type="email"],
.formBox input[type="password"]
{     
	border: none;
	border-bottom: 3px solid #a6af13;
	outline: none;
	height: 40px;
}
.formBox input[type="text"]:focus
.formBox input[type="text"]:focus
.formBox input[type="text"]:focus
.formBox input[type="number"]:focus
.formBox input[type="email"]:focus
.formBox input[type="password"]:focus
{
	border-bottom: 2px solid #262626;
}
.formBox input[type="button"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
    font-family: Consolas;
    font-size: 30px;
	background: #3e3d3d;
	cursor: pointer;
}
.formBox input[type="button"]:hover
{
	background: #f29f1c;
}
.formBox a
{
	color: #646912;
	font-size: 20px;
	font-weight: bold;
    font-family: Consolas;
}